<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /trial/

    # Remap request to index.php (except actual files/directories)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
